<div>
    <h2 id="page-heading">
        <span jhiTranslate="pdfReaderApp.pdfFile.home.title">Pdf Files</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pdf-file" [routerLink]="['/pdf-file/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pdfReaderApp.pdfFile.home.createLabel">
            Create a new Pdf File
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="pdfFiles?.length === 0">
        <span jhiTranslate="pdfReaderApp.pdfFile.home.notFound">No pdfFiles found</span>
    </div>
    <div class="table-responsive" *ngIf="pdfFiles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="pdfReaderApp.pdfFile.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="pdfReaderApp.pdfFile.file">File</span></th>
            <th scope="col" ><span jhiTranslate="pdfReaderApp.pdfFile.readerUrl">Reader Url</span></th>
            <th scope="col" ><span jhiTranslate="pdfReaderApp.pdfFile.user">User</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pdfFile of pdfFiles ;trackBy: trackId">
                <td><a [routerLink]="['/pdf-file', pdfFile.id, 'view' ]">{{pdfFile.id}}</a></td>
                <td>{{pdfFile.name}}</td>
                <td>
                    <a *ngIf="pdfFile.file" (click)="openFile(pdfFile.fileContentType, pdfFile.file)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="pdfFile.file">{{pdfFile.fileContentType}}, {{byteSize(pdfFile.file)}}</span>
                </td>
                <td>{{pdfFile.readerUrl}}</td>
                <td>
                    {{pdfFile.user?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/pdf-file', pdfFile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pdf-file', pdfFile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(pdfFile)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
