<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pdfFile">
            <h2><span jhiTranslate="pdfReaderApp.pdfFile.detail.title">Pdf File</span> {{pdfFile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pdfReaderApp.pdfFile.name">Name</span></dt>
                <dd>
                    <span>{{pdfFile.name}}</span>
                </dd>
                <dt><span jhiTranslate="pdfReaderApp.pdfFile.file">File</span></dt>
                <dd>
                    <div *ngIf="pdfFile.file">
                        <a (click)="openFile(pdfFile.fileContentType, pdfFile.file)" jhiTranslate="entity.action.open">open</a>
                        {{pdfFile.fileContentType}}, {{byteSize(pdfFile.file)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="pdfReaderApp.pdfFile.readerUrl">Reader Url</span></dt>
                <dd>
                    <span>{{pdfFile.readerUrl}}</span>
                </dd>
                <dt><span jhiTranslate="pdfReaderApp.pdfFile.user">User</span></dt>
                <dd>
                    {{pdfFile.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pdf-file', pdfFile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
